*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    min-height: 100vh;
    max-width: 100vw;
    display: grid;
    align-items: center;
}

.display-grid {
    display: grid;
}

.hide {
    display: none;
}

.clickable {
    cursor: pointer;
}

#menu {
    height: 100%;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

#menu h1 {
    font-size: 3rem;
}

.controls {
    display:grid;
    grid-template-columns: max-content max-content;
    justify-items: center;
    align-items: center;
    gap: 1rem;
}

#seven-grid {
    grid-column: 1 / 3;
}

#setup-dialog {
    /* display: block; remove this */
    margin: auto;
    border-style: none;
}

#setup-form {
    display: grid;
    grid-template-columns: minmax(max-content, 20rem);
    padding: 1rem 1.3rem;
    gap: 0.3rem;
    background-color: #c2c2c2;
}

#setup-form input {
    width: 80%;
}

.label {
    font-size: 2rem;
}

#x-label {
    justify-self: start;
}

#o-label {
    margin-top: 0.5rem;
}

#o-label,
#player-o-name {
    justify-self: end;
}

#setup-form #buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 0.6rem;
}

#setup-form input,
#play,
#back-out {
    font-size: 0.9rem;
    padding: 0.2rem;
}

.game {
    display: grid;
    grid-template-rows: 0.7fr 0.3fr max-content 1fr;
    height: 100%;
    justify-items: center;
}

#score-board {
    justify-self:normal;
    display: flex;
    justify-content: space-around;
    align-self: center;
}

.score {
    height: 4.5rem;
    width: 4rem;
    border: 0.12rem solid #000;
    border-radius: 0.5rem;
    align-content: center;
    text-align: center;
    font-size: 3rem;
}

.name {
    font-size: 1.5rem;
}

#player-x,
#player-o {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
}

#result {
    font-size: 2rem;
}

#board {
    justify-self: center;
    align-self: start;
}

.box {
    width: 100%;
    height: 100%;
    font-size: 4rem;
    align-content: center;
    text-align: center;
}

.vertical-line {
    background-color: black;
}
.row-0 {
    grid-row: 1;
}
.row-1 {
    grid-row: 3;
}
.row-2 {
    grid-row: 5;
}

.col-0 {
    grid-column: 1;
}
.col-1 {
    grid-column: 3;
}
.col-2 {
    grid-column: 5;
}

.horizontal-line {
    background-color: rgb(0, 0, 0);
}

.state-buttons {
    justify-self: center;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.btn {
    height: 2.2rem;
    width: 7rem;
    padding: 0.2rem;
    font-size: 1rem;
    border-style: none;
    border: 0.15rem solid #000;
    border-radius: 0.4rem;
    color: #000;
    background-color: #e0e0e0;
}